.vscode/*
!.vscode/launch.json

__pycache__

# Rhino backup
*.3dmbak

# Rhino lock file
*.3dm.rhl

# Rhino dump
*.dmp

# images converted to text and back
images/converted/to_image/

# Excel temp file
~$ops.xlsx

# test
test*.py