.vscode/*
!.vscode/launch.json

__pycache__

# data files used for debugging
debug/*

# default location to output data
output/*

# Rhino backup
*.3dmbak

# Rhino lock file
*.3dm.rhl

# images converted to text and back
images/converted/

# Excel temp file
~$ops.xlsx

# test
test.py